In [12]:
#TASK 1
3#Remove Duplicates
a=[2,3,4,2,3,4,8,9,12,"apple","APPLE"]
b=set(a)
type(b)

set

In [11]:
print(b)

{2, 3, 4, 8, 9, 'APPLE', 12, 'apple'}

In [30]:
#Task 2
#Slice 'apple' from the given variable
B='i need an apple'
print(B[-5:])

apple

In [ ]:
#Task 3
#add both number when both number are even
#multiply when both number are not even

In [47]:
a=int(input("Enter value : "))
b=int(input("enter value : "))
if a%2==b%2==0:
    A=a+b
    print("Both numbers are even")
    print(A)
else:
    A=a*b
    print("Both numbers are odd")
    print(A)

Enter value : 4
enter value : 2
Both numbers are even
6

In [49]:
a=int(input("Enter value : "))
b=int(input("enter value : "))
if a%2==b%2==0:
    A=a+b
    print("Both numbers are even")
    print(A)
else:
    A=a*b
    print("Both numbers are odd")
    print(A)

Enter value : 5
enter value : 3
Both numbers are odd
15

In [52]:
#Task 4
#Create a module and execute the module for the above task 3
def task(a,b):
    if a%2==b%2==0:
        A=a+b
        return("Both numbers are even", A) 
    else:
        A=a*b
        return("Both numbers are odd", A)

In [53]:
task(2,6)

('Both numbers are even', 8)

In [54]:
task(3,7)

('Both numbers are odd', 21)

In [55]:
#Task 5
#8th table using for loop
a=int(input("Enter the table : "))
for i in range(1,11):
    print(i,'*',a,'=',i*a)

Enter the table : 8
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80